* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {  
    font-family: "OpenSans"; 
    src: url("../../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 

@font-face {  
    font-family: "Oswald-Regular"; 
    src: url("../../fonts/Oswald/Oswald-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;  
} 
@font-face {  
    font-family: "Oswald-Bold"; 
    src: url("../../fonts/Oswald/Oswald-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: bold;  
} 

body {
    font-family:"OpenSans";
    background: rgb(51,51,51);
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    color:#fff;
    margin-bottom: 5px;
    font-size: 24px;
}
.login {
    display: block;
}
.reg {
    display: none;
}
.heading_block {
    margin-bottom: 20px;
}
/* .reg_form input[type=file] {
    
} */
.msg {
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
  .login_form {
    width:400px;
    top:0;
    right:0;
    margin-top:200px;
    display: flex;
    flex-direction: column;
    
  }
  
  .login_form button{
    width:100%;
    height:50px;
    font-size:16px;
    border-radius:50px;
    background:transparent;
    border:2px solid #fff;
    border-radius:50px;
    padding:10px 20px;
    color:#fff;
    font-weight:bold;
    transition:0.3s;
    cursor:pointer;
    
  }
  .login_form button:hover {
    background:#fff;
    color:#000;
    transition:0.3s;
  }
  .login_form input{
    width:100%;
    height:50px;
    outline:none;
    border-radius: 50px;
    padding:10px 20px;
    font-size:30x;
    background-color: rgb(83, 83, 83);
    border:2px solid rgb(206, 206, 206);
    font-weight:bold;
    color:#fff;
    outline:none;
    border-radius:50px;
    transition:0.3s;
    margin-bottom: 25px;
  }
  .login_form input:focus {
    background-color: #fff;
    color:rgb(83, 83, 83);;
  }
  
  .reg_form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height:100%;
    top:0;
    right:0;
    margin-top:200px;
  }

  .active {
    display:block;
  }
  .disable {
    display:none;
  }
  .reg_form button{
    width:100%;
    height:50px;
    font-size:16px;
    border-radius:50px;
    background:transparent;
    border:2px solid #fff;
    border-radius:50px;
    padding:10px 20px;
    color:#fff;
    font-weight:bold;
    transition:0.3s;
    cursor:pointer;
    
  }
  .reg_form button:hover {
    background:#fff;
    color:#000;
    transition:0.3s;
  }
  .reg_form input{
    width:100%;
    height:50px;
    outline:none;
    border-radius: 50px;
    padding:10px 20px;
    font-size:30x;
    background-color: rgb(83, 83, 83);
    border:2px solid rgb(206, 206, 206);
    font-weight:bold;
    color:#fff;
    outline:none;
    border-radius:50px;
    transition:0.3s;
    margin-bottom: 25px;
  }
  .reg_form input:focus {
    background-color: #fff;
    color:rgb(83, 83, 83);;
  }