* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {  
    font-family: "OpenSans"; 
    src: url("../../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 

@font-face {  
    font-family: "Oswald-Regular"; 
    src: url("../../fonts/Oswald/Oswald-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;  
} 
@font-face {  
    font-family: "Oswald-Bold"; 
    src: url("../../fonts/Oswald/Oswald-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: bold;  
} 

body {
    background-color: rgb(51,51,51);
    color:#fff;
    font-family: "OpenSans";
}
.img_wrap {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    border:5px solid rgb(203,203,203);
    margin:0 auto;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color:#fff;
}
.user_info {
    margin-right: 20px;
    width: 200px;
    border: 3px solid rgb(203,203,203);
    padding: 20px;
    text-align: center;
    border-radius: 30px;
}
.user_image {
    width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
  border-radius: 50%;
}
.form_wrap {
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: rowx;
    justify-content: space-around;
}
.buttons {
    text-decoration: none;
  
  font-size: 16px;
  border-radius: 50px;
  padding: 10px 20px;
 
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  
  transition: 0.3s;
  color:#fff; 
  border:2px solid #fff;
  background-color: #000; 
  
}
.buttons:hover {
    background-color: #fff;
    color: #000;
   transition:0.3s;
  }
 .contact {
    margin-top: 20px;
 }

 .info_wrap {
    display: flex;
    flex-direction: row;
 }
 .buttons_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .user_email {
    width: 480px;
 }
 .settings_wrap {
    margin: 50px;
    display:none;
    
 }
 .active {
    display:block;
 }
 .change_input {
    width:100%;
    outline:none;
    border-radius: 50px;
    padding:10px 20px;
    font-size:30x;
    background-color: rgb(83, 83, 83);
    border:2px solid rgb(206, 206, 206);
    font-weight:bold;
    color:#fff;
    outline:none;
    border-radius:50px;
    transition:0.3s;
    margin-bottom: 25px;
 }
 .change_input:focus {
    background-color: #fff;
    color:rgb(83, 83, 83);
 }
 .decline {
    margin-left: 20px;
 }